on post-fs-data
    # Sync filesystem on sleep events
    write /sys/module/mmc_core/parameters/removable Y

    # Perfect mount options
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system    /system  remount noatime barrier=1 inode_readahead_blks=8
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/userdata  /data    remount noatime barrier=1 nosuid nodev data=ordered noauto_da_alloc inode_readahead_blks=8
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cache     /cache   remount noatime barrier=1 nosuid nodev data=ordered noauto_da_alloc inode_readahead_blks=8


on property:sys.boot_completed=1
    # Enabling kernel same-page merging (KSM)
    chown root system /sys/kernel/mm/ksm/pages_to_scan
    chmod 0664 /sys/kernel/mm/ksm/pages_to_scan
    chown root system /sys/kernel/mm/ksm/sleep_millisecs
    chmod 0664 /sys/kernel/mm/ksm/sleep_millisecs
    chown root system /sys/kernel/mm/ksm/run
    chmod 0664 /sys/kernel/mm/ksm/run
    chown root system /sys/kernel/mm/ksm/deferred_timer
    chmod 0664 /sys/kernel/mm/ksm/deferred_timer
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/sleep_millisecs 1500
    write /sys/kernel/mm/ksm/deferred_timer 1
    write /sys/kernel/mm/ksm/run 1

    # Let scheduling happen on any core, avoids high frequency thermal issues
    write /sys/devices/system/cpu/sched_mc_power_savings 0

    write /proc/sys/kernel/sched_tunable_scaling 0
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_min_granularity_ns 2250000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000

    # IO Scheduler is being set
    setprop sys.io.scheduler bfq
    write /sys/block/mmcblk0/queue/scheduler bfq
    write /sys/block/mmcblk1/queue/scheduler bfq

    # Increase read ahead value for eMMC + SD devices
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/read_ahead_kb 3072
    # Reduce the write queueing for less latency on eMMC + SD
    write /sys/block/mmcblk0/queue/nr_requests 32
    write /sys/block/mmcblk1/queue/nr_requests 128
    # Tag as non rotational devices
    write /sys/block/mmcblk0/queue/rotational 0
    write /sys/block/mmcblk1/queue/rotational 0
    # Disable iostats to reduce overhead
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk1/queue/iostats 0
    # Merge affinity to let it finish on assigned thread
    write /sys/block/mmcblk0/queue/rq_affinity 2
    write /sys/block/mmcblk1/queue/rq_affinity 2

    # Android memory management tweaks
    write /sys/module/lowmemorykiller/parameters/debug_level 0
    write /proc/sys/vm/oom_dump_tasks 0
    write /proc/sys/vm/page-cluster 0

    # Kernel caching subsystem optimizations
    write /proc/sys/vm/overcommit_memory 1
    write /proc/sys/vm/overcommit_ratio 100
    write /proc/sys/vm/vfs_cache_pressure 50
    write /proc/sys/vm/min_free_kbytes 16384

    write /sys/module/workqueue/parameters/power_efficient Y

    # According to QCOM this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m

    # UI Composition performance improvements
    setprop hwui.render_dirty_regions true
    setprop debug.enabletr true
    setprop debug.egl.hw 1
    setprop debug.sf.hw 1
    setprop debug.mdpcomp.logs 0

